
doctype html
html(ng-app="myApp", ng-controller='AppCtrl')
	head
		meta(charset='utf-8')
		title SuckInTheKnowledge
		base(href='/')
		link(rel='stylesheet', media='screen', href='/style.css')
		link(rel='alternate', type='application/rss+xml', title='RSS', href='http://www.csszengarden.com/zengarden.xml')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='//cdn.jsdelivr.net/foundation/5.3.1/css/foundation.css')

		meta(name='description', content='A demonstration of what can be accomplished visually through CSS-based design.')
		meta(name='robots', content='all')


		link(rel='stylesheet', href='//normalize-css.googlecode.com/svn/trunk/normalize.css')
		//- link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css', rel='stylesheet', type='text/css')
		//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
		script(src='//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.js')
		
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/css/animate.css')




	body#css-zen-garden
	
					
		.page-wrapper
			section#zen-intro.intro
				header(role='banner')
					h1.animated.fadeIn._1	Summarize 
					h2.animated.fadeIn._2
						| NLP 
						| For
						| Most Important Words in a Book
				#zen-summary.summary(role='article').animated.fadeIn._2
					p
						| Get the most import topic words from a book in pdf format.
						| Useful for retaining the key concepts from any text.
						| Still far from complete. Current analyzes the Oxford Short Introduction Series
				#zen-preamble.preamble(role='article')
					h3.animated.fadeIn._2 Book Topic Words Overview



					ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
						li
							section.card.blue.animated.fadeInUp._1
								header(style="overflow:hidden;")
									.row
										.small-12.columns
											p(style="font-size:10px; color:silver;") {{chOne}}
											

								footer
									.row
										.small-6.columns
											h5(style="color:silver;", ng-click="chapterOne()") Advertising
											

										
						li
							section.card.orange.animated.fadeInUp._2(style="overflow:hidden;")
								header(style="overflow:hidden;")
									.row
										.small-12.columns
											p(style="font-size:10px; color:silver;") {{chTwo}}
								footer
									.row
										.small-6.columns
											h5(style="color:silver;", ng-click="chapterTwo()") Law
						li
							section.card.orange.animated.fadeInUp._3
								header(style="overflow:hidden;") 
									.row
										.small-12.columns
											p(style="font-size:10px; color:silver;") {{chThree}}
								footer
									.row
										.small-6.columns
											h5(style="color:silver;", ng-click="chapterThree()") Clausewiz								


			#zen-supporting.main.supporting(role='main')
				#zen-explanation.explanation(role='article')
					h3 So What is This About?
					p Filtering out main ideas from a text is a crucial skill to have, especially in this age of overabundant filler information. The idea here is to
						| create a tool to be able to extract the main ideas from what you read and retain these concepts for the future. After extracting the main topic
						| words from each context, there are many different ways to apply critical or lateral thinking exercises to dive deeper in the ideas. In the end, 
						| reading a book is all about extracting the main 
						i  ideas
						|  from the text, so the more efficient we are at doing that, the more we will be able to absorb from other sources. 
						
				#zen-participation.participation(role='article')
					h3 How Does this Work?
					p By using node's Natural module, we can apply natural language processing tools such as tokenizing and removing noise words from a text, and analyzing the importance of each word 
						| across other segments of a document. We can also apply bayesian classification algorithms to train certain sections to correlate to a keyword to improve our accuracy 
						| of extracting the correct main idea from the text. 


				footer
					a.zen-validate-html(href='http://validator.w3.org/check/referer', title='Check the validity of this site’s HTML') HTML
					a.zen-validate-css(href='http://jigsaw.w3.org/css-validator/check/referer', title='Check the validity of this site’s CSS') CSS
					a.zen-license(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', title='View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike.') CC
					a.zen-accessibility(href='http://mezzoblue.com/zengarden/faq/#aaa', title='Read about the accessibility of this site') A11y
					a.zen-github(href='https://github.com/mezzoblue/csszengarden.com', title='Fork this site on Github') GH
			aside.sidebar(role='complementary')
				.wrapper
					#design-selection.design-selection
						h3.select Select a Book:
						nav(role='navigation')
							ul
								li
									a.design-name(href='/221/') Advertising
									|  by&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
									a.designer-name(href='http://andrewlohman.com/') Oxford Short Introduction
								li
									a.design-name(href='/220/') Law
									|  by&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
									a.designer-name(href='http://danielmall.com/') Oxford Short Introduction
								li
									a.design-name(href='/219/') Clausewiz
									|  by&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
									a.designer-name(href='http://steffen-knoeller.de') Oxford Short Introduction

					#design-archives.design-archives
						h3.archives Archives:
						nav(role='navigation')
							ul
								li.next
									a(href='/214/page1')
										| Next Books 
										span.indicator &rsaquo;
								li.viewall
									a(href='http://www.mezzoblue.com/zengarden/alldesigns/', title='View every submission to the Zen Garden.')
										| View All Books

		.extra1(role='presentation')
		.extra2(role='presentation')
		.extra3(role='presentation')
		.extra4(role='presentation')
		.extra5(role='presentation')
		.extra6(role='presentation')


		script(src='/js/lib/angular/angular.js')
		script(src='/js/app.js')
		script(src='/js/services.js')
		script(src='/js/controllers.js')
		script(src='/js/filters.js')
		script(src='/js/directives.js')				



